//REGISTRY INDRA
//sass_binary_path=//jenkinsSlaveHomes//jenkinsINVAMIPAM//workspace//buildSLATool-front//SLATool//slatool-front//src//styles//linux-x64-72_binding.node
//sass_binary_path=/Users/infotech/Documents/sla_tool/SLATool/slatool-front/darwin-x64-93_binding.node
//registry=https://nexus.devops.onesait.com/repository/npm-all/
//_auth=b25lc2FpdG5leHVzOm9uZXNhaXRuZXh1cw==

//REGISTRY NPM
//registry=https://registry.npmjs.org/
//proxy=
//https-proxy=

//Always require authentication when accessing the registry, even for GET requests
//always-auth=true

// Whether or not to do SSL key validation when making requests to the registry via https.
//strict-ssl=false

