@import "../mixins/mixins";
@import "../common/var";

@include b(timeline) {
  margin: 0;
  font-size: $--font-size-base;
  list-style: none;

  & .ods-timeline-item:last-child {
    & .ods-timeline-item__tail {
      display: none;
    }
  }
}